@import url(./reset-normalize.css);

body {
  background-color: rgba(245, 245, 220, 0.2);
}

/* support */
.flex-jc-sbet-ai-cen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-jc-cen-ai-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-jc-cen-ai-cen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gap-1 {
  gap: 1em;
}
.gap-2 {
  gap: 2em;
}
.gap-3 {
  gap: 3em;
}
.gap-4 {
  gap: 4em;
}
.mb-10 {
  margin-bottom: 10em;
}
.p-0-1 {
  padding: 0 1em;
}
.w-30 {
  min-width: 30%;
}
.m-auto {
  margin: auto;
}
.nav-item {
  border: 1px solid #f9fafb;
  border-radius: 5px;
  padding: 1em 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.nav-item:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

/* Header */
a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(0, 123, 131);
}
h1 {
  font-size: 36px;
  font-weight: bolder;
  color: red;
}

/* Main */
h3 {
  font-size: 20px;
  font-weight: bolder;
  color: #3c4043;
}
button {
  background-color: blue;
  width: 10em;
  padding: 1em;
  border-radius: 1em;
  border: none;
  font-size: large;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(13, 13, 147, 0.8);
}
